@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@import 'media.css';

:root{
    --main_color: #fff;
    --font-ftitle: 'Josefin Sans', sans-serif;
    --font-fpara: 'David Libre', serif;
    --bg-color: #F3F1FF;
    --bg-content: #fff;
    --font-tcolor: #562eee ;
    --font-head: 2rem;
    --font-hcolor: #161616;
    --font-para: 1.6rem;
    --font-pcolor: #9f9f9f;
}
html{
    font-size: 52.6%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-ftitle);
}
body{
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 87rem;
}
header .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;

}
header .section_heading{
    margin-top: 2rem;
    color: var(--font-tcolor);
    font-size: var(--font-head);
    padding-left: 3rem;
}
header .top .top_players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 2rem;
}
header .top .player{
    display: flex;
    align-items: center;
}
header .top .player img{
    width: 5.6rem;
    height: 5.6rem;
    margin: 1rem;
}
header .top .player h3{
    font-size: var(--font-head);
}
header hr{
    margin-right: 3rem;
    margin-left: 3rem;
    border-top: 3px solid #D1D1D1;
}
header .top .top_blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin: 2rem;
}
header .top_blogs .blog{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .blog img{
    width: 17.7rem;
    height: 11.7rem;
    margin: 1rem;
}
header .blog .author{
    line-height: 3.4rem;
}
header .blog .author h3{
    font-size: var(--font-head);
}
header .blog .author p{
    color: var(--font-pcolor);
    font-size: var(--font-para);
    font-family: var(-);
}
header .blog .author span{
    color: var(--font-tcolor);
}
header .course_sec{
    margin-top: 3rem;
    background: var(--bg-content);
    padding-top: 0.5rem;
}
header .course_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 2rem;
}
header .course{
    margin: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 2rem;
}
header .course img{
    
    width: 22.5rem;
    height: 11rem;
}
header .course .course-title{
    line-height: 2.6rem;
    padding: 1rem;
}
header .course h3{
    font-size: var(--font-head);
}
header .course p{
    font-size: var(--font-para);
    color: #ED6B4F;
}
header .course-rate{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .course-rate .star{
    display: flex;
    align-items:center;
    
}
header .course-rate .time{
    display: flex;
    align-items: center;
}
header .star p{
    font-size: 2rem;
    color: #a2a2a2;
}
header .fa-star {
    font-size: 1.2rem;
    padding: 0.15rem;
}
header .fa-star.empty{
    color: #aeaeae;
}
header .fa-star.filled{
    color: #FFC014;
}
header .time {
    font-size: 2rem;
    background: #ffe4e8;
    border-radius: 4rem;
    padding: 0.9rem 1.2rem;
}
header .fa-clock{
    color: #FF4A60;
    margin-right: 0.5rem;
}
header .time p{
    font-size: 2rem;
    
}

/* media queries */

@media only screen and (max-width:688px) {
    
    header {
        width: 100%;
        margin-top: 2rem;
        display: block;
    }
    header .top .top_players{
        grid-template-columns: repeat(1, 1fr);
    }
    /* header .top .player{
        flex-direction: column;
    } */
    header .top .top_blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    header .course_wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}